/* AdminPanel.css */

.admin-panel {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .user-list {
    margin-top: 20px;
  }
  
  .user-item {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  .user-item p {
    margin: 0;
  }
  
  .user-item button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .user-item button:hover {
    background-color: #c82333;
  }
  .add-content-writer {
    margin-top: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-container label {
    width: 100px;
  }
  
  .input-container input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  